* {
    font-family: Monospace;
    font-weight: bold;
}
body {
  margin: 0px;
  overflow: hidden;
  background-color: black;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
canvas {
    width: 100%; 
    height: 100%
}
#controls {  
  top: 0px;
  left: 10px;
  position: absolute;
  width: 100%;
  color: white;
  z-index:5;
}
#left {
  width: 300px;
  float: left;
  
}
#right {
  margin-left: 300px; /* Change this to whatever the width of your left column is ALSO change var windowOffset in js */
}
.clear {
  clear: both;
}
.hidden {
    display: none;
}

.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
    list-style-type: none;
    padding-left: 0px;
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs-menu li.currentTab {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    color: #1b4b61;
    text-decoration: none; 
}

.tabs-menu li:hover {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.tab {
    float: left;
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
    display: none;
}

button {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
    background-color: #ccc; 
    color: #1b4b61;
    cursor: pointer;
    min-width: 170px;
}

button:hover {
    background-color: #ffffff;
}

#routeTable {
    width:250px;
    height: 600px;
    overflow-y: auto;    
}

#overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 10000;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    line-height: 140%;    
}